<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<meta charset="utf-8">
	<title>Minesweeper</title>
</head>
<body>
	<div ng-app="appMinesweeper" ng-controller="MainController">
		<h3>
			Bombs: {{gameControl.bombs}}
		</h3>

		<!--
		<label>
		    <input type="radio" ng-model="gameControl.difficult" value="0">
		    Easy
		 </label>

		 <label>
		    <input type="radio" ng-model="gameControl.difficult" value="1">
		    Medium
		 </label>

		 <label>
		    <input type="radio" ng-model="gameControl.difficult" value="2">
		    Hard
		 </label>

		 <button ng-click="defineDifficult(gameControl.difficult)">
		 	New Game
		 </button>
		 -->

		<table>
			<tbody>
				<tr ng-repeat="row in field">
					<td ng-repeat="column in row">
						<img src="{{column.revealed ? column.sprite_r : column.sprite_u}}"
							class="action" 
			          		ng-mousedown="handleClick($event,column)"
			          		oncontextmenu="return false"
			          		ng-model="column"/>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>